@import "../node_modules/bootstrap/scss/bootstrap.scss";



//header
.navbar{
     background-color: #4A4E69;

     h1{
          font-family: 'Baloo Da 2', cursive;
          color: #EDDDD4;
          text-decoration-style: solid;
          text-shadow: -1px -1px 0  #C44536, 1px -1px 0 #C44536, -1px 1px 0 #C44536, 1px 1px 0  #C44536, 6px 6px 6px #C44536;
     }

     h5{
          font-family: 'Baloo Da 2', cursive;
          color: #EDDDD4;
          border-width: 6px;
          border-color: #C44536 ;
          text-shadow: -1px -1px 0 #C44536, 1px -1px 0 #C44536, -1px 1px 0 #C44536, 1px 1px 0 #C44536, 6px 6px 6px #C44536;
     }

     .searchBar{
          border-color:  #C44536 !important;
          border-width: 6px !important;
          border-radius: 30px;
          
          .btn{
               background-color: #C44536 !important;

               svg{
                    width: 20px;
                    fill:  #EDDDD4;
               }
          }
     }

     #accueil{
          color:  #EDDDD4;
          border: 6px;
          margin: 6px;
          width: 240px;
          padding: 10px; 
          
          border-radius: 25px;
          border-color: #C44536;
          background-color:  #C44536;
     }
     
}

//body
#filmList{
     display: flex;

    .card{
         min-width: 200px;
         max-width: 200px;
         height: 400px;
         margin: 20px;

         img{
          width: 100%;
          height: auto;
        }
    }   
}

#poster{
     img{
          height: 500px !important;
          width: auto !important;
     }
}

#casting{

     img{
     width:100px;
     }
}

//footer
.containerPagination{
     background-color: white;
     max-height: 50px;

    button{

          svg{
               max-width:10px !important;
               fill: #C44536;
          }
    }

     #pageInfo{
         color:  #C44536;
     }
}
